#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.btnscontent h2 {
  color: var(--color-6);
  margin-bottom: 15px;
  font-size: clamp(15px, 2vw, 30px);
}
.btnscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 20px;
  background: var(--color-3);
}

.btnCategories {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 600;
  background: var(--color-1);
  color: var(--color-6);
}

.btnCategories:hover {
  background: var(--color-5);
  color: var(--color-1);
  border: 2px solid var(--color-1);
}

.btnCategories.active {
  background: var(--color-5);
  color: var(--color-1);
  border: 2px solid var(--color-1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 10px;
  transform: translateY(-5px);
}
#categoryTitle {
  margin: 20px 0;
  color: var(--color-1);
  text-align: center;
}
/* Container do Produto */
.linha {
  width: 100%;
  height: 3px;
  margin: auto;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-4),
    transparent
  );
}
.contentCategories {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background: #fff;
  gap: 20px;
  transition: 3ms;
  width: 100%;
  background: var(--color-5);
}
.card:hover {
  border: 2px solid var(--color-4);
}
.cardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  height: 200px;
}

.card img {
  width: 100%;
  padding: 10px;
}
.card img:hover {
  transform: scale(1.05);
}

.card h3 {
  color: var(--color-1);
  font-size: clamp(20px, 2vw, 25px);
}
.card p {
  color: var(--color-2);
  font-size: clamp(15px, 2vw, 20px);
}
.btnBolo {
  background-color: var(--color-1);
  padding: 10px 10px;
  border-radius: 10px;
  color: var(--color-6);
  font-weight: 600;
  font-size: clamp(15px, 2vw, 15px);
  margin: 10px;
}
.btnBolo:hover {
  background-color: var(--color-6);
  border: 2px solid var(--color-1);
  color: var(--color-1);
}
@media (max-width: 750px) {
  .contentCategories {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
  }

  .card {
    gap: 10px;
  }
  .cardContent {
    height: 150px;
  }
  .btnBolo {
    padding: 10px;
    margin: 10px;
  }

  .btnscontent {
    padding: 15px;
  }

  .btnCategories {
    width: 100%;
    max-width: 400px;
    max-height: 50px;
    padding: 12px;
    margin: 5px 0;
  }
  .card a {
    width: 50%;
  }
}
