#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--color-3);
  padding: 40px 20px;
  gap: 25px;
  min-height: 700px;
}

/* estrelas do formulário */
.avaliacao-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.avaliacao-form {
  color: #fff;
  font-size: 20px;
}
.estrelas-form {
  display: flex;
  gap: 5px;
}

.estrelas-form span {
  color: var(--color-6);
  cursor: pointer;
  font-size: 28px;
  transition: 0.2s;
}

.estrelas-form span:hover {
  transform: scale(1.2);
}

.estrelas-form span.ativa {
  color: gold;
}

.depoimentos:empty {
  display: none;
}

input,
textarea {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 0;
  outline: none;
  transition: 0.2s;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border: 2px solid gold;
  box-shadow: 0 0 5px rgba(255, 217, 0, 0.664);
}

#enviar {
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: gold;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#enviar:hover {
  transform: scale(1.05);
}
.avaliacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avaliacoes h2 {
  color: var(--color-1);
  font-size: 2rem;
}
.avaliacoes p {
  color: var(--color-1);
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
/* estrelas dos comentários */

.estrelas {
  color: gold;
  font-size: 20px;
  margin-bottom: 8px;
}

#lista-avaliacoes {
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.depoimentos {
  background-color: var(--color-2);
  color: var(--color-6);
  padding: 10px;
  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  word-break: break-word;
}

.depoimentos:hover {
  transform: translateY(-5px);
}
